#modal3{
    width: 700px;
    /* background-color: #018394; */
}
.zzz{
  background-color: #f8f8f8
}
.abc{
  background-color: rgba(211, 222, 223, 0.98)
}
/* styles.css */
.modal1 {
    position: fixed;
    margin-top: 20%;
    /* margin-left: 40%; */
    transform: translate(-50%, -50%);
    width: 800px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 10; /* Set z-index lower than Batch modal */
    padding: 20px;
  }
  
  .batch-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 50; /* Set z-index higher than Modal 1 */
    padding: 20px;
  }

  
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
    background-color: #f5f5f5; /* Match modal background */
    border-radius: 10px; /* Rounded corners */
    
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #999898; /* Light grey for thumb */
    border-radius: 5px; /* Rounded corners */
  }