#bg{
    background-color: white;
}
#abc{
    margin-top: 20px;

}

#button1{
    /* background-color: #1f596b; */
    /* border:1px dashed white; */
    margin-right: 1%;
    width: 200px;
    border: none;
}
#button2{
    /* background-color: #1f596b; */
    /* border:1px dashed white; */
    margin-right: -1%;
    width: 200px;
    border: none;
}

#payment{
background-repeat: no-repeat;
height: 100%;
width: 100%;
}